name: Build packages
on: [workflow_dispatch]
jobs:
  build-manylinux:
    name: Build Linux packages
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repos
        uses: actions/checkout@v2

      - name: Build sdist
        run: python setup.py sdist

      - name: Build x86_64 packages
        uses: RalfG/python-wheels-manylinux-build@v0.3.2-manylinux2014_x86_64
        with:
          python-versions: "cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39"

      - name: Build i686 packages
        uses: RalfG/python-wheels-manylinux-build@v0.3.2-manylinux2014_i686
        with:
          python-versions: "cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39"

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: linux_packages
          path: |
            dist/*.tar.gz
            dist/*-manylinux1_*.whl

  build-windows:
    name: Build Windows packages
    runs-on: windows-latest
    strategy:
      max-parallel: 100
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        architecture: ['x64', 'x86']

    steps:
    - name: Checkout repos
      uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{matrix.architecture}}

    - name: Install Python dependencies
      shell: cmd
      run: pip install wheel

    - name: Build x86_64 packages
      shell: cmd
      run: python setup.py bdist_wheel

    - name: Upload artifacts
      uses: actions/upload-artifact@v1
      with:
          name: windows_packages
          path: dist
