---
name: Packages
on: [workflow_dispatch]
jobs:
  build-sdist:
    name: Build sdist package
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repos
        uses: actions/checkout@v2

      - name: Build sdist
        run: python setup.py sdist

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: ./dist/*


  build-wheel:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]

    steps:
      - name: Checkout repos
        uses: actions/checkout@v2

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.4.0
        env:
          CIBW_ARCHS_LINUX: "auto"
          CIBW_ARCHS_MACOS: "auto universal2"
          CIBW_ARCHS_WINDOWS: "auto"
          CIBW_TEST_EXTRAS: test
          CIBW_TEST_COMMAND: pytest --color=yes -m 'not embedded' {project}/tests
          # Passing a space in a param is a b*tch on windows.
          # However embedded tests are skipped anyway there.
          CIBW_TEST_COMMAND_WINDOWS: pytest --color=yes {project}/tests
          # musllinux tests fail with some pid mixup
          # cross-build macos images can't be tested on this runner.
          CIBW_TEST_SKIP: >-
            *-musllinux_*
            *-macosx_universal2:arm64
            pp*-macosx_*

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl


  build-cross-wheel:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repos
        uses: actions/checkout@v2

      - name: Set up QEMU for multi-arch build
        uses: docker/setup-qemu-action@v1

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.4.0
        env:
          CIBW_ARCHS_LINUX: "aarch64 ppc64le"

      # Tests mostly fail because of some confusion with the python interpreter

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
