---
name: Packages
on: [workflow_dispatch]
jobs:
  build-manylinux:
    name: Build Linux packages
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repos
        uses: actions/checkout@v2

      - name: Build sdist
        run: python setup.py sdist

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1

      - name: Available platforms
        run: echo ${{ steps.qemu.outputs.platforms }}

      - name: Build aarch64 packages
        uses: RalfG/python-wheels-manylinux-build@v0.3.3-manylinux2014_aarch64
        with:
          python-versions: "cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39"

      - name: Build x86_64 packages
        uses: RalfG/python-wheels-manylinux-build@v0.3.3-manylinux2014_x86_64
        with:
          python-versions: "cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39"

      - name: Build i686 packages
        uses: RalfG/python-wheels-manylinux-build@v0.3.3-manylinux2014_i686
        with:
          python-versions: "cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39"

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: linux_packages
          path: |
            dist/*.tar.gz
            dist/*-manylinux1_i686.whl
            dist/*-manylinux1_x86_64.whl
            dist/*-manylinux2014_aarch64.whl

  build-windows:
    name: Build Windows packages
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        architecture: ['x64', 'x86']

    steps:
      - name: Checkout repos
        uses: actions/checkout@v2

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}
          architecture: ${{matrix.architecture}}

      - name: Install Python dependencies
        shell: cmd
        run: pip install wheel

      - name: Build x86_64 packages
        shell: cmd
        run: python setup.py bdist_wheel

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: windows_packages
          path: dist
